\:root
    --color: #dedede
    --fondo: #151515
    --fondoCodigo: #282c34
    --colorCodigo: #d7d7d7
    --color-borde-error: #f44336
    --color-borde-exito: #4CAF50
    // #01070a
    --colorSecundario: #FD4565
    --fuenteNormal: Roboto, sans-serif
    --fuenteTitulo: "Source Sans Pro", Roboto, sans-serif
    --fuente-codigo: "Roboto Mono", monospace
    --tamanoFuenteCodigo: 0.9rem

    --color-r: #e7b711
    --color-m: #04ABFC
    --color-t: #fca8d1
    --color-a: #39B487


html, body
    font-family: var(--fuenteNormal)
    color: var(--color)
    background-color: var(--fondo)
    font-size: 18px


h1, h2, h3, h4, h5
    font:
        family: var(--fuenteTitulo)
        weight: 600
    color: var(--color-titulos)
    margin-top: 3rem
    margin-bottom: 1.5rem


body
    margin: 0


p
    line-height: 170%


code
    font:
        family: var(--fuente-codigo)
    line-height: initial
    font-variant-ligatures: none
    *
        font-variant-ligatures: none


.tema-oscuro
    --color: #dedede
    --color-titulos: white
    --fondo: #151515
    --color-link: #29B6F6
    --color-borde: #454545
    --color-cod-texto: #77A4DA
    --color-cod-numero: #adcff5
    --color-cod-palabra-clave: #fd5769
    --color-cod-fun-clave: #B097E2
    --color-cod-operador: #fd5769
    --color-cod-identificador: #B097E2
    --color-cod-comentario: #818181
    --color-cod-fondo: #17181C
    --color-cod: #F1F2F6

.tema-claro
    --color: #2a2a2a
    --color-titulos: black
    --fondo: #ffffff
    --color-link: #0277BD
    --color-borde: #e3e3e3
    --color-cod-texto: #032f62
    --color-cod-numero: #005CC5
    --color-cod-palabra-clave: #D73A49
    --color-cod-operador: #D73A49
    --color-cod-fun-clave: #005cc5
    --color-cod-identificador: #005CC5
    --color-cod-comentario: #6A737D
    --color-cod-fondo: #f5f5f5
    --color-cod: #24292e
    --color-cod-identificador-tipo: #5392A0


.TTexto
    color: var(--color-cod-texto)

.TNumero
    color: var(--color-cod-numero)

.PalabraClave
    color: var(--color-cod-palabra-clave)

.FuncionClave
    color: var(--color-cod-fun-clave)

.TOperador_Color
    color: var(--color-cod-operador)


.TIdentificador--std
    color: var(--color-cod-identificador)

.TComentario
    color: var(--color-cod-comentario)

.Fondo
    background-color: var(--color-cod-fondo)

.TextoCod
    color: var(--color-cod)


// Estilos para el codigo.

.Fondo-alt
    background-color: var(--color-cod-fondo)
    color: var(--color-cod)
    // border: solid 1px var(--color-borde)


.Fondo-alt-err
    border: solid 2px var(--color-borde-error)


.Fondo-alt-ok
    border: solid 2px var(--color-borde-exito)


.LineaCodigo
    line-height: 1.35rem
    white-space: pre


.num-linea
    opacity: 0.5


@media only screen and (max-width: 450px)
    .LineaCodigo
        line-height: 1.2rem


.cont
    font:
        family: var(--fuente-codigo)
        variant-ligatures: discretionary-ligatures
    padding-right: 15px
    cursor: text
    overflow-x: auto
    white-space: nowrap
    display: grid
    grid-template-columns: 1.75rem auto

.cont-lineas
    padding: 0.8rem 0
    font-variant-ligatures: none


.cont-num-linea
    padding: 10px 0.5rem
    border-right: solid 1px var(--color-borde)
    text-align: right
    line-height: 1.35rem
    user-select: none

.cont-inline
    display: inline-block
    font:
        family: var(--fuente-codigo)
        variant-ligatures: none
    cursor: text
    padding: 0 0.3rem


.TextoCod
    padding: 0 15px


.language-javascript
    display: block
    &::before
        content: "JavaScript"
        border-top: solid 1px var(--color-borde)
        border-left: solid 1px var(--color-borde)
        border-right: solid 1px var(--color-borde)
        display: block
        font:
            family: Roboto, sans-serif
        padding: 0.25rem


.language-terminal
    display: block
    &::before
        content: "Terminal"
        border-top: solid 1px var(--color-borde)
        border-left: solid 1px var(--color-borde)
        border-right: solid 1px var(--color-borde)
        display: block
        font:
            family: Roboto, sans-serif
        padding: 0.25rem


a
    color: var(--color-link)


blockquote
    margin: 1rem 0 1rem 0
    border-left: solid 0.5rem var(--colorSecundario)
    padding-left: 1rem
    padding-top: 1rem
    padding-bottom: 1rem
    background-color: var(--color-cod-fondo)

    p
        display: inline-block
        margin: 0



@media only screen and (max-width: 450px)
    .linea
        line-height: 1rem

.token
    font-size: var(--tamanoFuenteCodigo)


@media only screen and (max-width: 450px)
    .token
        line-height: 1.2rem
